body{
  background-color: #fff;
}

.test{
  text-align: center;
}

.slds-text-text--xx-small{
  font-size: 11px;
  font-style: italic;
}

.slds-backdrop{
  background-color: rgba(33,33,33,0.2);
}

.col{

}

.card{
  height: 300px;
  width: 450px;
  background-color: rgba(240,240,240,0.7);
}

.card .letter{
  font-family: 'Indie Flower', cursive;
  font-size: 300px;
  line-height: 300px;
}



.front{
  display: block;

}

.back{
  display: none;
  overflow: hidden;
}

.card.flipped .front{
  display: none;
}

.card.flipped .back{
  display: block;
}
